@font-face{
    font-family: autopia italic;
    src: url(fonts/Autopia-Bold-Italic.otf);
}

@font-face{
    font-family: autopia bold;
    src: url(fonts/Autopia-Bold.otf);
}


body{
    font-family: 'autopia bold';
    background-color: rgb(0, 0, 0);
    font-size: 20px;

}

h1{font-family: autopia italic;}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(50px, auto);
    color: bisque;
    gap: 50px;
    margin: cente;
    position: relative;
    top: 20%;
    left: 20%;
    width: 15%;
}

a {
    color: bisque;
    font-family: autopia bold;
    font-size: 25px;
}

a:hover{
    color: brown;
    background-color: antiquewhite;
    box-shadow: 0px 0px 15px 5px rgb(107, 0, 0);
}